@model FileUpload
@{
    ViewData["Title"] = "Index";
}





<style>
    .custom-file-upload {
        display: inline-block;
        padding: 8px 15px;
        cursor: pointer;
        background-color: grey;
        color: white;
        border-radius: 5px;
        font-family: Arial, sans-serif;
        font-size: 14px;
    }

        .custom-file-upload input[type="file"] {
            display: none;
        }
</style>




<div class="d-flex flex-column justify-content-center align-items-center">

    <h2>Upload File</h2>

    <form asp-controller="CsvFile" asp-action="Upload" method="post" enctype="multipart/form-data" class="text-center p-5">
        <label class="custom-file-upload btn btn-outline-primary">
            <input type="file" name="file" id="fileInput"  />Choose a File
        </label>
        <div id="file-name">No file selected</div>
        
        <button type="submit" class="btn btn-outline-primary">Upload</button>
    </form>
</div>






<script>
    document.getElementById('fileInput').addEventListener('change', function () {
        const fileName = this.files.length > 0 ? this.files[0].name : 'No file selected';
        document.getElementById('file-name').textContent = fileName;
    });
</script>


@if (ViewBag.Error != null)
{
    <div style="color:red">@ViewBag.Error</div>
}

